.tag_container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tags {
  border: 1px solid #666;
  border-radius: 20px;
  display: inline-flex;
  padding: 2px 10px;
  color: #666;
}

.subtitle {
  color: #606060;
  margin-bottom: 5px;
  font-size: 8px;
}

.description {
  white-space: pre-wrap;
  font-size: 8px;
  line-height: 9px;
}

.title {
  margin-bottom: 5px;
}