.header {
  text-align: center;
  color: #606060;
}

.image {
  width: 100%;
}

.dialog_content {
  display: flex;
  margin-bottom: 30px;
  padding-right: 40px;
}

.description_container {
  width: 50%;
  box-sizing: border-box;
  padding-left: 20px;
  margin-top: 16px;
}

.image_container {
  width: 50%;
  border-radius: 0 0 6px 0;
  overflow: hidden;
}

.card_wrapper {
  padding: 20px;
}