.header {
  text-align: center;
  color: #606060;
}

.image {
  width: 100%;
}

.dialog_content {
  display: flex;
}

.description_container {
  width: 50%;
  box-sizing: border-box;
  padding-left: 20px;
  margin-top: 16px;
}

.image_container {
  width: 50%;
}