.container {
  display: flex;
}

.sidebar {
  min-width: 200px;
  border-right: 2px solid gray;
  min-height: 100vh;
  padding-top: 40px;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.content {
  padding: 56px 30px 35px;
}
